.apropo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //align-items: center;
    &-collapse {
        margin: 50px 0 0 200px;
        width: 1023px;
        height: 430px;
        //display: flex;
        //flex-direction: column;
        //justify-content: space-between;
        background: rgba(246, 246, 246, 1);
    }
}