.apropo {
    margin: 50px 0 0 200px;
    width: 1023px;
    height: 298px;
    left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(246, 246, 246, 1);
}