.banner {
    margin-left: 100px;
    width: 1240px;
    height: 223px;
    &-image {
        height: 223px;
        width: 1240px;
        object-fit: contain;     
        border-radius: 25px;
    }
    &-p {
        position: relative;
        top: -180px;
        text-align: center;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 500;
        color: white;
        //color: rgba(255, 255, 255, 1);
    }
}
