.collaps {
    position: relative;
    width: 1023px;
    height: 298px;
    &-rect {
        position: absolute;
        width: 1023px;
        height: 52px;
        background: rgba(255, 96, 96, 1);
        border-radius: 10px 10px 5px 5px;
        &__p {
            position: relative;
            top: -10px;
            left: 10px;
            width: 956px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
        }
        &__svg {
            position: relative;
            top: -65px;
            left: 966px;
            width: 30px;
            &:hover {
                transform: rotate(180deg);
            }
        }
    }
    &-frame2 {
        //position: absolute;
        //width: 1023px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        text-wrap: wrap;
        background: rgba(255, 96, 96, 1);
        border-radius: 10px 10px 5px 5px;
        &__p1 {
            width: 956px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
        }
        &__svg {
            width: 30px;
            &:hover {
                transform: rotate(180deg);
            }
        }
        &__p2 {
            //position: relative;
            //top: -104px;
            left: 20px;
            width: 1100px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
        }
        &__show {
            display: block;
        }
        &__hide {
            display: none;
        }
    }
}
@keyframes rotdown {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}
@keyframes rotup {
    0% {transform: rotate(180deg);}
    100% {transform: rotate(0deg);}
}
