.footer {
    width: 1440px;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 1);
    &-gap__0 {
        width: 1440px;
        height: 0;
    }
    &-gap__1 {
        width: 1440px;
        height: 400px;
    }
    &-p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    background: rgba(255, 255, 255, 1);
    }
    &-up {
        //animation-name: footerup;
        //animation-duration: 2000ms;
    }
    &-down {
        //animation-name: footerdown;
        //animation-duration: 2000ms;
    }
}