.footer-main {
    width: 1440px;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 1);
}
.footer-p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    background: rgba(255, 255, 255, 1);
}