@keyframes arrowdown {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(0.5turn);
  }
}
@keyframes arrowup {
  0% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
@keyframes showtext {
  0% {
    opacity: 0;
    block-size: 0%;
  }
  100% {
    opacity: 1;
    block-size: 100%;
  }
}
@keyframes hidetext {
  0% {
    opacity: 1;}
    //block-size: 100%;

  100% {
    opacity: 0;}
    //block-size: 0%;

}
@keyframes description-show {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  20% {
    transform: translateY(-100px);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0.3;
  }
  75% {
    transform: translateY(-25px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes equipments-show {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  20% {
    transform: translateY(-100px);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0.3;
  }
  75% {
    transform: translateY(-25px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
