.logement {
    width: 1240px;
    height: 643px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-carousel {
        width: 1240px;
        height: 415px;
        &__img {
            top: 0;
            left: 0;
            width: 1240px;
            height: 415px;
            object-fit: cover;
            z-index: -1;
        }
        &__leftar {
            position: relative;
            top: -250px;
            width: 96px;
            z-index: 1;
        }
        &__rightar {
            position: relative;
            top: -320px;
            width: 96px;
            left: 1144px;
            z-index: 1;
        }
        &__p {
            position: relative;
            top: -220px;
            left: 607px;
            width: 24px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            color: rgba(255, 255, 255, 1);
            z-index: 1;
        }
    }
    &-section {
        height: 228px;
        width: 1240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__l1 {
            width: 1240px;
            //height: 77px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            &-tit {
                width: 1000px;
                height: 77px;
            }
            &-tit1 {
                width: 1000px;
                font-family: Montserrat;
                font-size: 36px;
                font-weight: 500;
                color: rgba(255, 96, 96, 1);
                margin-block: 0;
            }
            &-tit2 {
                width: 176px;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                color: rgba(255, 96, 96, 1);
                margin-block: 0;
            }
            &-host {
                width: 167px;
                height: 64px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-name {
                    width: 93px;
                    height: 52px;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba(255, 96, 96, 1);
                    margin-block: 0;
                }
                &-img {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
        &__l2 {
            width: 1240px;
            //height: 25px;
            display: flex;
            justify-content: space-between;
            align-items:center;
            &-tags {
                width: 365px;
                height: 25px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            &-rate {
                width: 196px;
                height: 36px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }         
        }
        &__l3 {
            width: 1240px;
            //height: 52px;
            display: flex;
            justify-content: space-between;
            align-items: top;             
        }
    }
}